  body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }  
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 25px 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inicio {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    transition: 0.5s;
    display: inline-block;
    margin: 0 20px;
  }
  
  a {
    transition: 0.5s;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    font-style: bold;
    transition: 0.5s;
    color: yellow;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }

  p{
    text-align: center;
    color: #fed34f !important;
    transform: perspective(300px) rotateX(20deg);
  }
  
  main {
    background-color: #333;
    padding: 20px;
  }

  img{
    margin: 1% 0;
    width: 100%;
    opacity: 0.3;
  }
  
  footer {
    margin: 0 20px;
    background-color: black;
    height: 100px;
  }
  