/* 
Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Alexandre 2111127
25/02/2023 
*/
.categorias{
  list-style: none;
  text-decoration: none;
}

table {
  font-weight: bold;
  width: 50%;
  /* float: left; */
  /* transform: perspective(350px) rotateX(20deg); */
  margin: 5% 0 0 5%;
  background-color: #242424;
  border-collapse: collapse;
  border: 2px solid #585858;  
  color: #fff;
}

th {
  transition: all 0.4s;
  background-color: #333;
  color: white;
}
th:hover {
  transition: all 0.4s;
}

th, td {
  transition: all 0.4s;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

table:hover td {
  opacity: 0.5;
}

table:hover td:hover {
  color: #fed34f;
  opacity: 1;
}

.menu-toggle {
  transition: all 0.6s;
  display: block;
  border: 2px solid #fed34f;
  border-radius: 10px;
  background-color: #33333300;
  color: #fed34f;
  padding: 10px;
  cursor: pointer;
}

.menu-toggle:hover{
  transition: all 0.6s;
  border-radius: 20px;
  border: 3px solid #fed34f;
  font-weight: bold;
}

.categorias {
  transition: 0.5s;
  display: none;
}

.categorias.show {
  transition: 0.5s;
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
}

img{
  margin-top: 5%;
  width: 100%;
  opacity: 0.4;
}


footer {
  margin: 0 20px;
  background-color: black;
  height: 100px;
}

/*  =================================================================*/

#apresentacao{
  line-height: 30px;
  float: right;
  text-align: justify;
  font-weight: bold;
  margin: 10% 5% -500% 62%;
  color: #fed34f;
  transform: perspective(500px) rotateX(20deg);
}